<header>
    <div class="cotenedorm">
        <input type="checkbox" id="menu">
            <app-frente></app-frente>
    </div>
</header>
<section class="containertxt">
    <app-muro></app-muro>
</section>
<main>
        <div class="page-transition"></div>
    <div class="container">
        <div class="left">
        <app-zurdo></app-zurdo>
        </div>
        <div class="center">
        <app-pecho></app-pecho>
        </div>
        <div class="right">
        <app-derecho></app-derecho>
        </div>
    </div>
</main>
<footer>
    <app-pie></app-pie>
</footer>