<body class="cabeza">

<label for="menu">
  <img class="logo" src="/../../assets/images/menu.png" alt=""  >
</label>
<nav class="navbar">
  <ul> 
    <li><a  [routerLink]="['inicio']" routerLinkActive="router-link-active">Inicio</a></li>
    <li><a [routerLink]="['encuesta']" routerLinkActive="router-link-active">Encuesta</a></li>
    <li><a  [routerLink]="['servicio']" routerLinkActive="router-link-active">Servicios</a></li>
    <li><a [routerLink]="['portafolio']" routerLinkActive="router-link-active">Portafolio</a></li>
    <li><a [routerLink]="['contactanos']" routerLinkActive="router-link-active">Contactanos</a></li>
  </ul>
</nav>
</body>