.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value to center vertically within the viewport */
}

.card {
    border: none;
    width: 500px;
    padding: 40px;
    background: linear-gradient(90deg, hsla(205, 46%, 30%, 1) 0%, hsla(180, 29%, 36%, 1) 100%);
}

.card label,
.card h1,
.card h6 {
    color: #fff;
}

label {
    color: #fff;
}



