<body><div class="gallery">
    <div class="image" onclick="enlargeImage(this)">
        <img src="/../../assets/images/mario.png" alt="Imagen 1">
    </div>
    <div class="image" onclick="enlargeImage(this)">
        <img src="/../../assets/images/mario2.jpg" alt="Imagen 2">
    </div>
    <div class="image" onclick="enlargeImage(this)">
        <img src="/../../assets/images/fox.jpg" alt="Imagen 3">
    </div>
    <!-- Agrega más imágenes según sea necesario -->
</div>

<div class="overlay" id="overlay" onclick="closeOverlay()">
    <div class="enlarged-image" id="enlarged-image"></div>
</div>

<script src="scripts.js"></script>
</body>