body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    max-width: 100%;
    border-radius: 15px 0 0 15px;
    display: flex; /* Esto establece el contenedor como un flex container */
    justify-content: center; /* Centra horizontalmente la imagen dentro del contenedor */
    align-items: center; /* Centra verticalmente la imagen dentro del contenedor */
    width: 35%; /* Establece el ancho del contenedor */
    height: 35%; /* Establece la altura del contenedor */
    
    cursor: pointer;
    transition: transform 0.5s;
}

.image:hover {
    transform: rotate(10deg);
}



.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    height: 60%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.overlay.active {
    display: flex;
}
