
    <h1>Encuesta de Videojuegos</h1>
    <form >
      <nav>
      <img class="imagen1" src="/../../assets/images/juego1.jpg" alt="" >
      <p class="p1"> 1. ¿Cuál es tu género de videojuego favorito?</p>
        <label for="escoge">Escoge sabiamente <br>
            <input type="radio" name="genre" value="accion"> Acción
        </label>
        <label>
            <input type="radio" name="genre" value="aventura"> Aventura
        </label>
        <label>
            <input type="radio" name="genre" value="rol"> Rol
        </label>
        <label>
            <input type="radio" name="genre" value="deportes"> Deportes
        </label>
        <label>
            <input type="radio" name="genre" value="estrategia"> Estrategia
        </label>
      </nav>
      <nav>
        <p class="p2"> 2. ¿Cuál es tu videojuego favorito?</p>
          <label for="genre">Escribrenos sobre ese videojuego:</label>
           <textarea id="genre" name="genre" rows="4" cols="50"></textarea>

           <p class="p3">3. ¿Cuál es ese videojuego que lo retomas cada año?</p>
          <label for="favoriteGame">Relatanos sobre ese juegaso:</label>
          <textarea id="favoriteGame" name="favoriteGame" rows="4" cols="50"></textarea>

      </nav>
        <button type="submit">Enviar</button>
    </form>
